<style>
    body{
        margin: 0;
        padding: 0;
        background-image: url("login.jpeg");
    }

.options{

margin-left: 12%;
margin-bottom: 1%;

    
}
a{
    text-decoration: none; 
    color: white;
}
#navbar{
    

 background-color: rgba(6, 152, 225, 0.585);
 border: black 1px solid;
}
.logo{
    margin-left: 1%;
    
}
button{
    background-color: rgba(0, 0, 0, 0.836);
    border: 0.3vh solid black;
    border-radius: 10%;
}
#about{
    
    text-align: center;
    padding-top: 1%;
}
body{
   
}
img{
    width: 20%;
    height: 33%;
}

#images{
    margin-left: 15%;
}
#homeContainer{
    background-color: rgba(0, 0, 0, 0.183);
   
}
#doctors{
    margin-left: 2%;
    
}
#docNames{
    display: flex;
    
   
}
#doc1{
    margin-left: 2%;
    background-color: rgba(52, 50, 50, 0);
    border-right: 2px black solid;
    padding-right: 2.5%;
    padding-left: 2.5%;
    
}
#doc2{
    margin-left: 2%;
    background-color: rgba(52, 50, 50, 0);
    border-right: 2px black solid;
    padding-right: 2.5%;
    padding-left: 2.5%;
}
#doc3{
    margin-left: 2%;
    background-color: rgba(52, 50, 50, 0);
    border-right: 2px black solid;
    padding-right: 2.5%;
    padding-left: 2.5%;
    
}
#doc4{
    margin-left: 2%;
    background-color: rgba(52, 50, 50, 0);
    border-right: 2px black solid;
    padding-right: 2.5%;
    padding-left: 2.5%;
}
#doc5{
    margin-left: 2%;
    background-color: rgba(52, 50, 50, 0);
    border-right: 2px black solid;
    padding-right: 2.5%;
    padding-left: 2.5%;
    
}
#doc6{
    margin-left: 2%;
    background-color: rgba(52, 50, 50, 0);
    border-right: 2px black solid;
    padding-right: 2%;
    padding-left: 2%;
}

#communication{
    color: black;
    background-color: rgba(6, 152, 225, 0.585);
    height: 20%;
    border: black solid 1px;
    color: black;
   
}
#phone{
    margin-left: 70%;
    font-size: large;
    padding-top: 2%;
   
    
}
#location{
    margin-left: 70%;
    font-size: large;
    padding-top: 1%;
    color: black;
    
    
}
i{
    color: black
}

#locations{
    color: black;
}
#address{
    margin-left: 70%;
   
}
#Home{
    width: 6%;
}
#User{
    width: 6%;
}


</style>
<head>
    <script src="https://kit.fontawesome.com/cde8601e7e.js" crossorigin="anonymous"></script>
</head>
<div id="navbar">
<span ><h1 class="logo">Dr. Tooth</h1></span>
<div>
<span class="logo" ><b>Dentistry is not expensive, Neglect is</b></span>
<button class="options" id="Home"><a href="/" >Login</a></button>
<button class="options" id="Expertise"><a href="/expertise" >Our Expertise</a></button>
<button class="options" id="Appointment"><a href="/appointment" >Appointment</a></button>
<button class="options" id="User"><a href="/user" >User</a></button>

</div>
</div>
<div id="homeContainer">
    <div id="about"><h4>With 13 years plus of experince, doctors at Dr. Tooth are committed to provide highest and finest dentalcare to the patients.We keep in mind how stressful dental treatments can be for you but we give our best to make you absolutely comfortable.</h4></div>
<div id="images">
    <img src="brushing1.jpg" alt="brushing" srcset="">
    <img src="brushing2.jpg" alt="rinsing" srcset="">
    <img src="brushing4.jpg" alt="flossing" srcset="">
    <img src="brushing3.jpg" alt="orlHygine" srcset="">
    
</div>
<div id="doctorsAvailable">
    <h3 id="doctors">Doctors Available</h3>
    <div id="docNames">
        <span id="doc1">
    <div class="docs">
        
       <b>Dr. Marium</b><br><p>(Dental Surgeon)</p>
     
       

    </div>
</span>
<span id="doc2">
    <div>
        
        <b>Dr. Alex</b><br><p>(Orthodontist)</p>
       
       

    </div>
</span>
<span id="doc3">
    <div>
        
        <b>Dr. Harshavardhan</b><br><p>(Periodontist)</p>
        
       

    </div>
</span>
<span id="doc4">
    <div>
        
        <b>Dr. Amul</b><br><p>(Oral and Maxillofacial)</p>
        
       

    </div>
</span>
<span id="doc5">
    <div>
        
        <b>Dr. Afreen</b><br><p>(Prosthodontist)</p>
       
       

    </div>
</span>
<span id="doc6">
    <div>
        
        <b>Dr. Heeba</b><br><p>(Intern)</p>
        
       

    </div>
</span>
    </div>

</div>


</div>
<div id="communication">
    <div id="phone">
    
        <i class="fa-solid fa-phone"></i><span> &nbsp; 9956432132</span>
    
    </div>
    <div id="location">
        <a href="https://www.google.com/maps/dir/12.9892352,77.561856/Dr.+Tooth+RT+Nagar+Dental+Clinic,+No65%2F1.10main+road,+post,+HMT+Layout,+RT+Nagar,+Bengaluru,+Karnataka+560032/@13.0040981,77.5602989,14z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3bae17b5bae89f21:0xd5b112b727bcaed2!2m2!1d77.5952705!2d13.0230067" id="locations"><i class="fa-solid fa-location-dot"></i><span> Dr. Tooth </span></a>
       
    </div>
    <p id="address">Dr. Tooth RT Nagar Dental Clinic, No65/1.10main road, post, HMT Layout, RT Nagar, Bengaluru, Karnataka 560032</p>
    </div>
