
<style>

  body{
    background-image:url("/login.jpeg");
  }

 div{
     display: flex;
     align-items: center;
     flex-direction: column;

 }

 .signupForm{
      background-color: rgba(6, 152, 225, 0.748);
     margin-top: 5vh;
     padding-top: 1px;
     padding-bottom: 20px;


 }

 #submitButton{
     border: 0.3vh solid rgba(23, 154, 220, 0.598);
     color: black;
    
    width: 5%;
    

 }

 input{
     width: 200px;
     height:25px;
     border: 0.3vh solid rgba(23, 154, 220, 0.598);
     
  

 }
 p{
     margin-top: -1%;
 }


</style>

<head>
     <script src="https://kit.fontawesome.com/cde8601e7e.js" crossorigin="anonymous"></script>
</head>

<form action="/signupLogin" method="post">

<div class="signupForm">
<h1>Dr.Tooth</h1>
<p><b> Dentistry is not expensive, Neglect is</b></p>
<label><i class="fa-solid fa-user"></i></label><br><input type="text" id="username" name="username" autocomplete="off" minlength="5" placeholder="Username">
<br><br>
<label><i class="fa-solid fa-envelope"></i></label><br><input type="email" id="email" name="email" autocomplete="off" placeholder="Email Id">
<br><br>
<label><i class="fa-solid fa-mobile-screen-button"></i></label><br><input type="text" id="mobile_number" name="mobile_number" autocomplete="off" placeholder="Mobile Number">
<br><br>
<label><i class="fa-solid fa-unlock"></i></label><br><input type="password" id="password" name="password" autocomplete="off" placeholder="Password">
<br><br>
<input type="submit" id="submitButton">
</div>

</form>

